.main-content {
  padding: 20px;
}

.dropdown-container {
  position: relative;
}
.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}


.filter-button {
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.product-card {
  border: 1px solid #0a697b;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease-in-out;
  border: 2px solid #df18c7;
}


.product-title {
  font-size: 1rem;
}

.product-price {
  font-size: 0.8rem;
}

.product-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.add-to-cart-button {
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 6px 12px;
  background-color: #1dcf17;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #7B0323;
}
